BASE_URL=https://proyecto-inmobiliario.vercel.app
INMOBILIARIA_EMAIL=inmobiliaria1@gmail.com
INMOBILIARIA_PASSWORD=
INQUILINO_EMAIL=inquilino1@gmail.com
INQUILINO_PASSWORD=
PROPIETARIO_EMAIL=propietario1@gmail.com
PROPIETARIO_PASSWORD=
PERMITIR_ESCRITURA=0
